@use '../base/variables' as *;

.header {
    .navbar {
        width: 100%;
        padding: 35px 0 30px;
        border: none;
        margin: 0;
        position: absolute;
        top: 0;
        z-index: 999;
        transition: all .3s ease;

        .navbar-nav {
            > li {
                > .nav-link {
                    padding-right: 1rem;
                    padding-left: 1rem;
                    font-size: 13px;
                    text-transform: uppercase;
                    color: $light-text;
                    display: inline-block;
                    font-weight: 300;
                    letter-spacing: 2px;

                    &:hover, &:focus, &.active {
                        color: $primary-color;
                        background-color: transparent !important;
                    }
                }
            }  
        }

        .dropdown-products {
            .dropdown-menu {
                border: 0px;
                border-radius: 0;
                min-width: 570px;
                padding: 20px 20px 0;
            }
            
            .media {
                margin-bottom: 20px;
          
                .media-body {
                  color: $paragraphs-color;
                  font-size: 14px;
                }
            }
        }

        .navbar-brand {
            img {
                width: 120px;
            }
        }
    }
}

.navbar-toggler {
    border-color: transparent;
    position: relative;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;

    &:hover, &:active, &:focus {
        outline: none;
    }

    @media (max-width: 768px) {
        display: block;
    }
    
    .icon-bar {
        background-color: #fff;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;

        + .icon-bar, + .icon-bar {
            margin-top: 4px;
        }
    } 
}