@font-face {
     font-family: 'AbrilText';
     src: url('assets/fonts/AbrilText/AbrilText-SemiBold.eot?#iefix') format('embedded-opentype'),
               url('assets/fonts/AbrilText/AbrilText-SemiBold.otf')  format('opentype'),
            url('assets/fonts/AbrilText/AbrilText-SemiBold.woff') format('woff'),
            url('assets/fonts/AbrilText/AbrilText-SemiBold.ttf')  format('truetype'),
            url('assets/fonts/AbrilText/AbrilText-SemiBold.svg#AbrilText-SemiBold') format('svg');
     font-weight: 500;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'AbrilText';
     src: url('assets/fonts/AbrilText/AbrilText-ExtraBold.eot?#iefix') format('embedded-opentype'),
               url('assets/fonts/AbrilText/AbrilText-ExtraBold.otf')  format('opentype'),
            url('assets/fonts/AbrilText/AbrilText-ExtraBold.woff') format('woff'),
            url('assets/fonts/AbrilText/AbrilText-ExtraBold.ttf')  format('truetype'),
            url('assets/fonts/AbrilText/AbrilText-ExtraBold.svg#AbrilText-ExtraBold') format('svg');
     font-weight: 600;
     font-style: normal;
}
 