//colors 
$primary-color: #0ec5db;

$headings-color: #263238;
$paragraphs-color: #90a4ae;
$secondary-color : #3a53ff;


$quote-color: #f9f9f9;

$light-text: #fff;
$danger-color: #fc1e94;
$hero-color: #6403ee;
$info-color: #2e90fa;
$warning-color: #ff9a07;
$success-color: #24c64f;


$dark: #151417;


//Fonts
$headings-font: 'AbrilText', sans-serif;
$paragraphs-font: 'Roboto Slab', serif;


// Point at which the navbar becomes uncollapsed
$grid-float-breakpoint: 993px;



